---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesTwo from "@/components/blog/EntriesTwo.astro";
import CtaThree from "@/components/cta/CtaThree.astro";
const allPosts = await getCollection("posts");
---

<BaseLayout>
  <section class="bg-regent-500">
    <div
      class="relative w-full mx-auto max-w-7xl text-center items-center py-12 lg:px-16 lg:py-24 md:px-12 px-5"
    >
      <p
        class="text-2xl sm:text-3xl md:text-5xl lg:text-7xl font-medium text-black text-balance"
      >
        Labrapport <span class="block italic"> </span>
      </p><p
        class="max-w-xl mt-4 text-lg text-black/80 mx-auto font-medium text-balance"
      >
        Ukentlige rapporter om AI-utviklingen og hvordan den påvirker din
        bedrift.
      </p>
    </div>
  </section>
  <section>
    <div
      class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-32"
    >
      <div
        class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-y-12 gap-x-6"
      >
        {
          allPosts.slice().map((post) => (
            <EntriesTwo
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={new Date(post.data.pubDate).toLocaleDateString("nb-NO", {
                day: "numeric",
                month: "short",
                year: "numeric",
              })}
              author={post.data.author}
              image={post.data.image.url}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </div>
    </div>
  </section>
  <CtaThree />
</BaseLayout>
